<div class="container">
  <h4 style="width: 300px;background-color: #e6e6e6; text-align: center;">ジャンル編集</h4>
  <div>
    <%= form_with model: @category, url: admins_category_path(@category.id), local: true do |f| %>
      <p>ジャンル名</p>
      <%= f.text_field :name %>
      <%= f.submit '変更を保存', class: "btn btn-success" %>
    <% end %>
  </div>
</div>