 <div class="product-container">
   <%= link_to customers_product_path(product.id), class: "btn-link", :style=>"color:#0999FF;" do %>
     <%= attachment_image_tag(product, :image_id, size: "180x130", fallback: "no_image.jpg") %>
     <p><%= product.name %></p>
   <% end %>

   <% if product.is_active == true %>
     <p>¥<%= product.nontaxed_price.to_s(:delimited) %></p>
   <% elsif product.is_active == false %>
     <p class="soldout">売り切れ中</p>
   <% end %>
 </div>