<h1>Top画面リンク</h1>

  <div>
    <%= link_to customers_root_path do %>
      <button type="button" class="btn btn-success">CustomerTop</button>
    <% end %>
  </div>

<br>

    <div>
    <%= link_to new_admin_session_path do %>
      <button type="button" class="btn btn-success">AdminTop</button>
    <% end %>
  </div>

<br>

    <div>
    <%= link_to customers_addresses_path do %>
      <button type="button" class="btn btn-success">AdderssTop</button>
    <% end %>
  </div>

