/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.bgimage{
  opacity: 0.5;
  filter: blur(1px);
}

.about {
  text-align: center;
}

.example {
  position: relative;
  }

.example p {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  // -ms-transform: translate(-50%,-50%);
  // -webkit-transform: translate(-50%,-50%);
  // transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  /*文字の装飾は省略*/
  }

.example img {
  width: 50%;
  }

//customer側 product_show

.customers-show-box{
  width: 800px;
  margin: 60px auto;
  display: flex;
}

.customers-show-image {
  width: 250px;
}

.customers-show-text-box {
  margin-left: 30px;
  width: 400px;
}

.customers-show-introduction{
  margin-top: 10px;
  height: 90px;
}

.including_tax_price {
  font-size: 22px;
}

// admin側 customer部分

.customer_show{
  display: flex;
}

.customer_show_title{
  width: 200px;
}

.customer_show_contents{
  width: 600px;
}